.sidebar {
    -fx-background-color: #0E121B;
}

/* MAIN MENU ITEMS */
.menu-item {
    -fx-padding: 12 16;
    -fx-spacing: 12;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: #6A7EFC;
}

.menu-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* ICON DEFAULT COLOR */
.menu-icon {
    -fx-fill: #b0b0b0;
}

/* ON HOVER WHITE ICON */
.menu-item:hover .menu-icon {
    -fx-fill: white;
}

/* SUBMENU */
.submenu {
    -fx-background-color: #151A25;
    -fx-padding: 0 0 0 40;
    -fx-spacing: 8;
    -fx-overflow: hidden;
}

.submenu-item {
    -fx-text-fill: #cfcfcf;
    -fx-padding: 8 0;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.submenu-item:hover {
    -fx-text-fill: white;
}
